<ng-container>
  <c-container [fluid]="true">
    <div class="flex align-items-center">
      <button
        toggle="visible"
        cHeaderToggler
        [cSidebarToggle]="sidebarId"
        class="ps-1"
      >
        <svg cIcon name="cilMenu" size="lg"></svg>
      </button>
      <!-- <app-custom-breadcrumb></app-custom-breadcrumb> -->
    </div>

    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>
  </c-container>
  <!-- <c-header-divider></c-header-divider> -->
  <!-- <c-container [fluid]="true">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container> -->
</ng-container>

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button cButton color="" [caret]="false" cDropdownToggle class="py-0">
      <c-avatar
        cTextColor="primary"
        shape="rounded-1"
        size="md"
        src="./assets/img/penguin.jpg"
        status="success"
      >
      </c-avatar>
    </button>
    <ul cDropdownMenu class="pt-0 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Settings</h6>
      </li>
      <li></li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilUser"></svg>
          Perfil
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Configuración
        </a>
      </li>

      <li>
        <hr cDropdownDivider />
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon  class="me-2" name="cilAccountLogout"></svg>
          Cerrar sesión
        </a>
      </li>
      <li></li>
    </ul>
  </c-dropdown>
</ng-template>
